header {
    position: absolute; /* Overlay on the video */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Above video */
}

.text-white {
    color: white;
}


/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.navbar .nav-link{
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
}

.navbar .nav-item{
	position: relative;
	display: inline-block;
	padding: 15px 0px;
	margin: 0px 20px;
}
.navbar .nav-item .nav-link{
	padding: 6px 0px;
	position: relative;
	display: block;
	line-height: 30px;
	letter-spacing: 1px;
}

.navbar .nav-item::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: auto;
    top: 11px;
    width: 7px;
    height: 8px;
    opacity: 0;
    margin-left: -3px;
    background-color: #ffffff;
	border-radius: 50px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.navbar .nav-item .nav-link::before {
    position: absolute;
    content: '';
    left: 0%;
    bottom: auto;
    top: -4px;
    width: 7px;
    height: 8px;
	border-radius: 50px;
    opacity: 0;
    margin-left: -10px;
    background-color: #ffffff;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.navbar .nav-item .nav-link::after {
    position: absolute;
    content: '';
    right: 0%;
    left: auto;
    bottom: auto;
    top: -4px;
    width: 7px;
    height: 8px;
	border-radius: 50px;
	border: none !important;
    opacity: 0;
    margin-right: -11px;
    background-color: #ffffff;
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.navbar .nav-item.active::after{
	opacity: 1;
}

.navbar .nav-item.active .nav-link::before {
	opacity: 1;
	left: 40%;
}
.navbar .nav-item.active .nav-link{
	color: #9dc15b;
}
.navbar .nav-item.active .nav-link::after{
	opacity: 1;
	right: 40%;
}

.navbar .nav-item:hover::after{
	opacity: 1;
}

.navbar .nav-item .nav-link:hover::before{
	opacity: 1;
	left: 40%;
}
.navbar .nav-item .nav-link:hover{
	color: #9dc15b;
}
.navbar .nav-item .nav-link:hover::after{
	opacity: 1;
	right: 40%;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block; /* Also show submenu when hovering over the main menu */
}

.navbar .nav-item.active::after {
    opacity: 1;
}

.navbar .nav-item.active .nav-link::before {
    opacity: 1;
    left: 40%;
}

.navbar .nav-item.active .nav-link {
    color: #9dc15b;
}

.navbar .nav-item.active .nav-link::after {
    opacity: 1;
    right: 40%;
}

.navbar .nav-item:hover::after {
    opacity: 1;
}

.navbar .nav-item .nav-link:hover::before {
    opacity: 1;
    left: 40%;
}

.navbar .nav-item .nav-link:hover {
    color: #9dc15b;
}

.navbar .nav-item .nav-link:hover::after {
    opacity: 1;
    right: 40%;
}

.navbar li .dropdown-menu {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .12);
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.navbar li .dropdown-menu a:hover {
    background: #9dc15b;
    color: #ffffff;
}
